.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  min-width: 50vw;
  background-color: #000;
}

.chatBox {
  width: 30vw;
  height: 40vh;
  //z-index: 1000;
  background-color: #1b1d1e;
  // position: absolute;
  // top: 50%;
  // left: 5%;
  // transform: translate(-5%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  .optionArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.buttonrow {
  width: calc(100% - 40px);
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  // width: 100%;
  margin: 20px;
  color: #ffffff;
  font-size: large;
  white-space: 10px;
}
.messageBox {
  width: calc(100% - 60px);
  margin: 20px;
  height: 40%;
  flex: 1;
  border-radius: 10px;
  background-color: rgb(73, 79, 79);
  color: #ffffff;
  padding: 10px;
}
.generateButton {
  width: 30%;
  background-color: purple;
  padding: 10px 30px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
:global {
  .ant-btn-disabled {
    background: rgba(0, 0, 0, 1) !important;
  }
}

.PreViewImage {
  width: 30vw;
  height: 40vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
