.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
}

.Button {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 80, 227);
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}