.container {
    width: 100vw;
    height: 100vh;
}

.left {
    width: 50%;
    height: 100%;
}

.uploadContainer {
    height: 200px !important;
    width: 200px !important;
}

.right {
    width: 50%;
    height: 100%;
}